<div class="nav-bar-index">
    <div class="nav-bar-index-left">
        <img id="fridge-icon" src="../../assets/fridge-icon.png" alt="Fridge Icon">
        <div id="fridge-title"><div id="title-child">Fridge</div></div>
    </div>
    <div class="nav-bar-index-right">
        <div class="nav-bar-index-right-button">Resources</div>
        <div class="nav-bar-index-right-button">About</div>
        <div class="nav-bar-index-right-button">Contact</div>
        <div class="nav-bar-index-right-button" id="sign-in-button">Sign In</div>
    </div>
</div>
